doctype html

html 
    head
        block head 
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet" href="/css/style.css")
            link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")

            title Natours - #{title}
    body 
        //- HEADER
        include _header

        include partials/_msg.pug

        //- CONTENT
        block content   
            h1 THIS IS THE BASE PLACE HOLDER

        //- FOOTER
        include _footer

        //- For parcel
        //- script(src='index.js')
        script(src='main.js')